################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hello_picoflexx/Hello_picoflexx/x64/Debug/Hello_picoflexx.tlog
/Hello_picoflexx/Hello_picoflexx/x64/Release/Hello_picoflexx.tlog
/Hello_picoflexx/Hello_picoflexx/x64/Debug/vc142.pdb
/Hello_picoflexx/Hello_picoflexx/x64/Debug/vc142.idb
/Hello_picoflexx/Hello_picoflexx/x64/Debug/Hello_picoflexx.obj
/Hello_picoflexx/Hello_picoflexx/x64/Debug/Hello_picoflexx.log
/Hello_picoflexx/Hello_picoflexx/x64/Debug/Hello_picoflexx.exe.recipe
/Hello_picoflexx/Hello_picoflexx/Debug/vc142.pdb
/Hello_picoflexx/Hello_picoflexx/Debug/vc142.idb
/Hello_picoflexx/Hello_picoflexx/Debug/Hello_picoflexx.tlog/unsuccessfulbuild
/Hello_picoflexx/Hello_picoflexx/Debug/Hello_picoflexx.tlog/Hello_picoflexx.lastbuildstate
/Hello_picoflexx/Hello_picoflexx/Debug/Hello_picoflexx.tlog/CL.command.1.tlog
/Hello_picoflexx/Hello_picoflexx/Debug/Hello_picoflexx.log
/Hello_picoflexx/Hello_picoflexx/x64/Release/vc142.pdb
/Hello_picoflexx/Hello_picoflexx/x64/Release/Hello_picoflexx.obj
/Hello_picoflexx/Hello_picoflexx/x64/Release/Hello_picoflexx.log
/Hello_picoflexx/Hello_picoflexx/x64/Release/Hello_picoflexx.exe.recipe
/Hello_picoflexx/Hello_picoflexx/my_cloud.pcd
/Hello_picoflexx/Hello_picoflexx/Hello_picoflexx.vcxproj.user
/Hello_picoflexx/Hello_picoflexx/Hello_picoflexx.vcxproj.filters
/Hello_picoflexx/x64/Debug/Hello_picoflexx.pdb
/Hello_picoflexx/x64/Debug/Hello_picoflexx.lib
/Hello_picoflexx/x64/Debug/Hello_picoflexx.ilk
/Hello_picoflexx/x64/Debug/Hello_picoflexx.exp
/Hello_picoflexx/x64/Debug/Hello_picoflexx.exe
/Hello_picoflexx/x64/Debug/desktop.ini
/Hello_picoflexx/x64/Debug/bin/desktop.ini
/Hello_picoflexx/x64/Debug/bin/Debug/desktop.ini
/Hello_picoflexx/x64/Release/vtkzlib-9.1.dll
/Hello_picoflexx/x64/Release/vtkWrappingTools-9.1.dll
/Hello_picoflexx/x64/Release/vtkViewsInfovis-9.1.dll
/Hello_picoflexx/x64/Release/vtkViewsCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkViewsContext2D-9.1.dll
/Hello_picoflexx/x64/Release/vtkverdict-9.1.dll
/Hello_picoflexx/x64/Release/vtktiff-9.1.dll
/Hello_picoflexx/x64/Release/vtktheora-9.1.dll
/Hello_picoflexx/x64/Release/vtkTestingRendering-9.1.dll
/Hello_picoflexx/x64/Release/vtksys-9.1.dll
/Hello_picoflexx/x64/Release/vtksqlite-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingVtkJS-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingVolumeOpenGL2-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingVolume-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingUI-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingSceneGraph-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingOpenGL2-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingLOD-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingLabel-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingImage-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingGL2PSOpenGL2-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingFreeType-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingContextOpenGL2-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingContext2D-9.1.dll
/Hello_picoflexx/x64/Release/vtkRenderingAnnotation-9.1.dll
/Hello_picoflexx/x64/Release/vtkpugixml-9.1.dll
/Hello_picoflexx/x64/Release/vtkpng-9.1.dll
/Hello_picoflexx/x64/Release/vtkParallelDIY-9.1.dll
/Hello_picoflexx/x64/Release/vtkParallelCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkogg-9.1.dll
/Hello_picoflexx/x64/Release/vtknetcdf-9.1.dll
/Hello_picoflexx/x64/Release/vtkmetaio-9.1.dll
/Hello_picoflexx/x64/Release/vtklzma-9.1.dll
/Hello_picoflexx/x64/Release/vtklz4-9.1.dll
/Hello_picoflexx/x64/Release/vtkloguru-9.1.dll
/Hello_picoflexx/x64/Release/vtklibxml2-9.1.dll
/Hello_picoflexx/x64/Release/vtklibproj-9.1.dll
/Hello_picoflexx/x64/Release/vtklibharu-9.1.dll
/Hello_picoflexx/x64/Release/vtkkissfft-9.1.dll
/Hello_picoflexx/x64/Release/vtkjsoncpp-9.1.dll
/Hello_picoflexx/x64/Release/vtkjpeg-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOXMLParser-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOXML-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOVideo-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOVeraOut-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOTecplotTable-9.1.dll
/Hello_picoflexx/x64/Release/vtkioss-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOSQL-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOSegY-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOPLY-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOParallelXML-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOParallel-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOOggTheora-9.1.dll
/Hello_picoflexx/x64/Release/vtkIONetCDF-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOMovie-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOMotionFX-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOMINC-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOLSDyna-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOLegacy-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOIOSS-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOInfovis-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOImport-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOImage-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOHDF-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOGeometry-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOExportPDF-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOExportGL2PS-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOExport-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOExodus-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOEnSight-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOCONVERGECFD-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOCityGML-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOChemistry-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOCGNSReader-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOAsynchronous-9.1.dll
/Hello_picoflexx/x64/Release/vtkIOAMR-9.1.dll
/Hello_picoflexx/x64/Release/vtkInteractionWidgets-9.1.dll
/Hello_picoflexx/x64/Release/vtkInteractionStyle-9.1.dll
/Hello_picoflexx/x64/Release/vtkInteractionImage-9.1.dll
/Hello_picoflexx/x64/Release/vtkInfovisLayout-9.1.dll
/Hello_picoflexx/x64/Release/vtkInfovisCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingStencil-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingStatistics-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingSources-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingMorphological-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingMath-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingHybrid-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingGeneral-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingFourier-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkImagingColor-9.1.dll
/Hello_picoflexx/x64/Release/vtkhdf5_hl-9.1.dll
/Hello_picoflexx/x64/Release/vtkhdf5-9.1.dll
/Hello_picoflexx/x64/Release/vtkglew-9.1.dll
/Hello_picoflexx/x64/Release/vtkgl2ps-9.1.dll
/Hello_picoflexx/x64/Release/vtkGeovisCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkfreetype-9.1.dll
/Hello_picoflexx/x64/Release/vtkfmt-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersVerdict-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersTopology-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersTexture-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersStatistics-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersSources-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersSMP-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersSelection-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersProgrammable-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersPoints-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersParallelImaging-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersParallel-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersModeling-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersImaging-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersHyperTree-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersHybrid-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersGeometry-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersGeneric-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersGeneral-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersFlowPaths-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersExtraction-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkFiltersAMR-9.1.dll
/Hello_picoflexx/x64/Release/vtkexpat-9.1.dll
/Hello_picoflexx/x64/Release/vtkexodusII-9.1.dll
/Hello_picoflexx/x64/Release/vtkdoubleconversion-9.1.dll
/Hello_picoflexx/x64/Release/vtkDomainsChemistryOpenGL2-9.1.dll
/Hello_picoflexx/x64/Release/vtkDomainsChemistry-9.1.dll
/Hello_picoflexx/x64/Release/vtkDICOMParser-9.1.dll
/Hello_picoflexx/x64/Release/vtkCommonTransforms-9.1.dll
/Hello_picoflexx/x64/Release/vtkCommonSystem-9.1.dll
/Hello_picoflexx/x64/Release/vtkCommonMisc-9.1.dll
/Hello_picoflexx/x64/Release/vtkCommonMath-9.1.dll
/Hello_picoflexx/x64/Release/vtkCommonExecutionModel-9.1.dll
/Hello_picoflexx/x64/Release/vtkCommonDataModel-9.1.dll
/Hello_picoflexx/x64/Release/vtkCommonCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkCommonComputationalGeometry-9.1.dll
/Hello_picoflexx/x64/Release/vtkCommonColor-9.1.dll
/Hello_picoflexx/x64/Release/vtkChartsCore-9.1.dll
/Hello_picoflexx/x64/Release/vtkcgns-9.1.dll
/Hello_picoflexx/x64/Release/vcruntime140_1.dll
/Hello_picoflexx/x64/Release/vcruntime140.dll
/Hello_picoflexx/x64/Release/Release/desktop.ini
/Hello_picoflexx/x64/Release/qhull_r.dll
/Hello_picoflexx/x64/Release/pcl_visualization.dll
/Hello_picoflexx/x64/Release/pcl_tracking.dll
/Hello_picoflexx/x64/Release/pcl_surface.dll
/Hello_picoflexx/x64/Release/pcl_stereo.dll
/Hello_picoflexx/x64/Release/pcl_segmentation.dll
/Hello_picoflexx/x64/Release/pcl_search.dll
/Hello_picoflexx/x64/Release/pcl_sample_consensus.dll
/Hello_picoflexx/x64/Release/pcl_registration.dll
/Hello_picoflexx/x64/Release/pcl_recognition.dll
/Hello_picoflexx/x64/Release/pcl_people.dll
/Hello_picoflexx/x64/Release/pcl_outofcore.dll
/Hello_picoflexx/x64/Release/pcl_octree.dll
/Hello_picoflexx/x64/Release/pcl_ml.dll
/Hello_picoflexx/x64/Release/pcl_keypoints.dll
/Hello_picoflexx/x64/Release/pcl_kdtree.dll
/Hello_picoflexx/x64/Release/pcl_io_ply.dll
/Hello_picoflexx/x64/Release/pcl_io.dll
/Hello_picoflexx/x64/Release/pcl_filters.dll
/Hello_picoflexx/x64/Release/pcl_features.dll
/Hello_picoflexx/x64/Release/pcl_common.dll
/Hello_picoflexx/x64/Release/msvcp140_codecvt_ids.dll
/Hello_picoflexx/x64/Release/msvcp140_2.dll
/Hello_picoflexx/x64/Release/msvcp140_1.dll
/Hello_picoflexx/x64/Release/msvcp140.dll
/Hello_picoflexx/x64/Release/Hello_picoflexx.pdb
/Hello_picoflexx/x64/Release/Hello_picoflexx.ipdb
/Hello_picoflexx/x64/Release/Hello_picoflexx.iobj
/Hello_picoflexx/x64/Release/Hello_picoflexx.exe
/Hello_picoflexx/x64/Release/flann_cpp.dll
/Hello_picoflexx/x64/Release/flann.dll
/Hello_picoflexx/x64/Release/desktop.ini
/Hello_picoflexx/x64/Release/concrt140.dll
/Hello_picoflexx/.vs/slnx.sqlite
/Hello_picoflexx/.vs/ProjectSettings.json
/Hello_picoflexx/.vs/Hello_picoflexx/v16/ipch/AutoPCH/e3d670435d68caa1
/Hello_picoflexx/.vs/Hello_picoflexx/v16/ipch/AutoPCH/cc045ad2add27b2c
/Hello_picoflexx/.vs/Hello_picoflexx/v16/ipch/AutoPCH/bed8b81b0fa3642f
/Hello_picoflexx/.vs/Hello_picoflexx/v16/ipch/AutoPCH/5bfe963548ebafe7/HELLO_PICOFLEXX.ipch
/Hello_picoflexx/.vs/Hello_picoflexx/v16/Browse.VC.opendb
/Hello_picoflexx/.vs/Hello_picoflexx/v16/Browse.VC.db-wal
/Hello_picoflexx/.vs/Hello_picoflexx/v16/Browse.VC.db-shm
/Hello_picoflexx/.vs/Hello_picoflexx/v16/Browse.VC.db
/Hello_picoflexx/.vs/Hello_picoflexx/v16/.suo
/P4/.vs/P4/v17
/P4/P4/x64/Debug/P4.tlog
/P4/P4/x64/Debug
/P4/x64/Debug
